<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-native-geolocation" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeGeo</name>
    <js-module name="NativeGeo" src="www/NativeGeo.js">
        <clobbers target="cordova.plugins.NativeGeo" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NativeGeo">
                <param name="android-package" value="com.cordova.nativegeolocation" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
            <uses-permission android:name="android.hardware.location" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/NativeGeo.java" target-dir="src/cordova-plugin-native-geolocation/NativeGeo" />
    </platform>
</plugin>